.login_panel {
  color: gray;
  background-color: rgba(50, 50, 50, 0.05);
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.login_title {
  text-align: center;
}

.login_button {
  margin-top: 30px;
}

.test {
  margin-top: 50px;
}

.alert {
  margin-top: 40px;
}
